name: Build and Push Docker Image

on:
  workflow_dispatch: # 手动触发

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main 
          token: ${{ secrets.SYNC_TOKEN }} 

      - name: 获取上游最新版本号
        id: get_version
        run: |
          UPSTREAM_TAG=$(curl -s https://api.github.com/repos/Zephyruso/zashboard/releases/latest | jq -r .tag_name)
          echo "VERSION=$UPSTREAM_TAG" >> $GITHUB_OUTPUT
          echo "VERSION=$UPSTREAM_TAG"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USER }}/zashboard:${{ steps.get_version.outputs.VERSION || 'latest' }}
            ${{ secrets.DOCKERHUB_USER }}/zashboard:latest